<div class="max-w-xl mx-auto" data-aos="fade-up">
  <div class="card card-pad">
    <div class="badge inline-flex"><i class="ri-error-warning-line"></i> Not Found</div>
    <div class="h1 mt-3">Halaman tidak ditemukan</div>
    <div class="muted mt-2">Path: <b><%= path %></b></div>
    <div class="hr"></div>
    <div class="flex gap-2">
      <a class="btn btn-primary" href="/p/landing" data-spa="1"><i class="ri-home-4-line"></i> Home</a>
      <a class="btn" href="/p/order" data-spa="1"><i class="ri-shopping-bag-3-line"></i> Top Up</a>
    </div>
  </div>
</div>
