<div class="max-w-xl mx-auto">
  <div class="card">
    <div class="h1">Terjadi kesalahan</div>
    <div class="muted text-sm mt-1">Error <%= status %></div>
    <div class="mt-3 text-sm"><%= message %></div>
    <div class="mt-4">
      <a href="/" class="btn btn-primary" data-spa="1"><i class="ri-home-4-line"></i> Kembali</a>
    </div>
  </div>
</div>
